.header {
    background-color: #222222;
    color: white;
    height: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.menu_left {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: space-around;
    width: 111px;
}

.menu_aw {
    font-size: 26px;
}

.menu_right {
    width: 168px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    position: relative;
}

.counter {
    display: flex;
    background-image: url('../img/Ellipse_i.png');
    height: 19px;
    width: 19px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    top: -5px;
}